<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2he4l0LMQfDEBJBpvho_mecw-TjzD33I</string>
	<key>GCM_SENDER_ID</key>
	<string>184030261807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zohaib.SwiftUIApp</string>
	<key>PROJECT_ID</key>
	<string>swiftui-demo-cd072</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-demo-cd072.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184030261807:ios:d376d54374db6eca178cda</string>
</dict>
</plist>